# API
VITE_API_URL=http://localhost:45231/api
VITE_API_VERSION=v1

# Cloudflare Turnstile
VITE_TURNSTILE_SITE_KEY=

VITE_GOOGLE_CLIENT_ID=
VITE_FACEBOOK_APP_ID=

# Social Media Links
VITE_FACEBOOK_URL=
VITE_TWITTER_URL=
VITE_INSTAGRAM_URL=
VITE_LINKEDIN_URL=
VITE_YOUTUBE_URL=
VITE_TIKTOK_URL=
 
# App Download Links
VITE_APP_STORE_URL=
VITE_PLAY_STORE_URL=
VITE_DESKTOP_URL=
VITE_APP_URL=

VITE_TERMS_URL=
VITE_PRIVACY_URL=

VITE_NATIVE_APP_KEY=
